<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

</head>
<body>
<div class="Hi">
      <h1>LeftOver! </h1>
</div>
<div class="Container">
     <div class ="nav">
    <ul>
	<li class ="logo"><img src="logo.jpg"></li>
        <li class ="home"> HOME</li>
        <li class="about">ABOUT US</li>
        <li class ="partners">OUR PARTNERS</li>
        <li class ="contact"> CONTACT US</li>
    <li class ="join"><a href="Homepage.html"> JOIN US </a></li>
        <li><a href ="#" class= "signinbtn"><span>Sign In</span></a></li>
       </ul>
   </div>
   </div>
</body>
</html>
