<html>
<head> 
 <title> Welcome to LeftOvr </title>
    {% load static %}
 <link rel="stylesheet" href="{%static 'css/LandingStyle.css' %}">
</head>
<body>

    <div class="Hi">
      <h1>Welcome to LeftOver! </h1>
   </div>
   <div class ="container">
   <div class ="nav">
    <ul>
	<li class ="logo"><img src="logo.jpg"></li>
        <li class ="home"> HOME</li>
	<li class="about">ABOUT US</li>
        <li class ="partners">OUR PARTNERS</li>
        <li class ="contact"> CONTACT US</li>
    <li class ="join"><a href="Homepage.html"> JOIN US </a></li>
        <li><a href ="#" class= "signinbtn"><span>Sign In</span></a></li>
       </ul>
   </div>
   </div>

   <div class ="Welcome User">
      <h2> </h2><img src="Food-GIF.gif" alt="">
    <p> agvhjbnouytufydfchgvjbknl.m,bgui</p>
  </div>
    
</body>
</html>
